.form {
  width: 260px;

  margin: 10px auto;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
  border: solid 2px rgb(185, 81, 177);
}

.input {
  height: 20px;
  border-radius: 6px;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
}
.input:focus,
:hover {
  border-color: #0003ba;
}
.input:focus {
  outline: none;
}
.span {
  display: block;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.inputradio {
  margin-bottom: 10px;
  cursor: pointer;
}

.itemtext {
  margin-left: 10px;
}

@media screen and (min-width: 720px) {
  .form {
    width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 20px;
  }
}
